<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Layton Temple Tours</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <header class="text-center bg-secondary text-white">
        <h2 class="display-4 text-uppercase">Layton Utah Temple Tours</h2>
    </header>
    <nav class="navbar navbar-light bg-light justify-content-center">
        <a asp-action="Index" class="navbar-brand">Home</a>
        <a asp-action="SignUp_2" class="navbar-brand">Sign-Up</a>
        <a asp-action="Display_4" class="navbar-brand">Appointments</a>
    </nav>

    <div>
        @RenderBody()
    </div>
    <br />
    <hr />
    <footer class="text-center bg-secondary text-white p-4">Section 2 Group 5</footer>
    <br />
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>