<!--This page will be act as the form to enter in important information regarding their previously
    selected timeslot-->

@model FormInfo

<p>@ViewBag.TimeInfo.Time</p>

<form  method="post" asp-action="Form_3">
    <label asp-for="NameOfGroup">Name of Group</label>
    <input asp-for="NameOfGroup"/>
    <input type="hidden" name="TimeID" value="@ViewBag.TimeInfo.TimeID" />
    <br />
    <label asp-for="SizeOfGroup">Size of Group</label>
    <input asp-for="SizeOfGroup"/>
    <br />
    <label asp-for="Email">Email Address</label>
    <input asp-for="Email"/>
    <br />
    <label asp-for="Phone">Phone Number (optional)</label>
    <input asp-for="Phone"/>
    <br />
    <div asp-validation-summary="All"></div>

    <button type="submit">Submit</button>
</form>

<br />

<a asp-action="Display_4" class="btn btn-primary btn-lg" role="button">View All Sign Ups</a>